{% extends 'base.' ~ format ~'.twig' %}

{% block header %}
    <header id="wetoo_header">
        <span class="discover" id="page_en_construction">
            Page en construction. <br>
            Vous pouvez dès à present télécharger le dossier du Festival. Bonne lecture! <br>
            <a class="bold" href="/assets/creer/wetoo/dossierFestival.pdf" download="Dossier du festival Wetoo">Dossier festival.pdf</a><br>

        </span>
    </header>
{% endblock %}
